@import "./styles/reset.scss";
@import "./styles/variant.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#container {
  width: 100%;
  height: 100vh;
  background: url("https://cdn.inflearn.com/public/files/posts/38f50939-dbdc-4b1c-b4f8-72144342026f/%EB%B0%B0%EA%B2%BD.png")
    //https://i.pinimg.com/736x/84/2a/79/842a793921d7f60542525fae231c93bd.jpg (나의보노보노)
    no-repeat center/cover;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #outer {
    width: 807px;
    height: 544px;
    background: url("./contents/outerbox.png") no-repeat center/cover;
    position: relative;
    #inner {
      display: flex;
      padding: 36px;
    }
  }
}

// inner-left
#inner-left {
  width: 203px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .inner-left-header {
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    .zero {
      color: map-get($map: $color, $key: accent);
    }
  }
  .inner-left-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid map-get($map: $color, $key: gray);
    border-radius: 14px;
    padding: 26px;

    .left-body-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title-img {
        width: 148px;
        height: 133px;
        background: url("https://www.sisaweek.com/news/photo/201701/85528_65179_4558.jpg")
          center/cover no-repeat;
      }
      .title-line {
        width: 100%;
        border-top: 1px dotted map-get($map: $color, $key: dark);
        margin: 12px 0;
      }
      .title-emotion {
        border: 1px solid map-get($map: $color, $key: gray);
        border-radius: 4px;
        background: #fff;
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.4);
        span {
          &:nth-child(1) {
            color: #84cada;
            font-weight: bold;
          }
        }
      }
    }
    .left-body-profile {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    .left-body-footer {
      margin: 0;
    }
  }
}

/* inner-right */
#inner-right {
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  .inner-right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: map-get($map: $color, $key: theme);
    .header-title {
      font-weight: bold;
    }
    .header-privacy {
      font-size: 1.4rem;
    }
  }
  .inner-right-body {
    width: 100%;
    height: 445px;
    border: 1px solid map-get($map: $color, $key: gray);
    border-radius: 14px;
    background: map-get($map: $color, $key: light);
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

/* navigation */
#navigation {
  width: 70px;
  height: 110px;
  position: absolute;
  top: 20%;
  right: -69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .navigation-item {
    background: map-get($map: $color, $key: theme);
    color: map-get($map: $color, $key: light);
    line-height: 30px;
    text-align: center;
    border: 1px solid map-get($map: $color, $key: dark);
    border-radius: 0 10px 10px 0;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
